@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css?family=Roboto") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Black.ttf") format("truetype");
  font-weight: black;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: black;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: light;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: medium;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: thin;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: thin;
  font-style: italic;
}

body {
  box-sizing: border-box;
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  /* justify-items: center; */
  align-items: center;
  justify-content: center;

}
.main {
  /* width: 100%; */
  display: grid;
  gap: 32px;
  grid-template-areas: "A A A"
  "B C D"
  ". E .";
}

h1 {
  grid-area: A;
  color: orange;
  font-size: 62px;
  text-align: center;
  margin: 0;
}

.button {
  display: block;
  background-size: cover;
  border-radius: 16px;
  width: 160px;
  height: 160px;
  border-color: white;
}

.summer-button {
  background-image: url("./assets/summer-bg.jpg");
  grid-area: B;
}
.rainy-button {
  grid-area: C;
  background-image: url("./assets/rainy-bg.jpg");
}
.winter-button {
  grid-area: D;
  background-image: url("./assets/winter-bg.jpg");
}

.background {
  background-size: cover;
}

.summer {
  background: url("./assets/summer-bg.jpg");
}
.winter {

  background: url("./assets/winter-bg.jpg");
}
.rainy {

  background: url("./assets/rainy-bg.jpg");
}
.range {
  grid-area: E;
}

.label {
  display: none;
}